.container {
    position: relative;
    margin: auto auto;
    /**width: 80%;
    height: 600px;*/

}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cell {
    background-color: grey;
    /* 
    width: 50px;
    height: 50px;
    */
}

.on {
    background-color: red;
}
